;;; This is config for generating CANDEL docs from an LLM-augmented version of the schema. Used for sample site. 

{:source "candelx-schema.edn"
 :output-path "resources/public/schema/candelx/" ; {{version}}
 :edge-labels? false
 :height 20                             ;Note: in inches, what graphviz likes
 :width 20
 }
