name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    # Run on macos because graphviz has some kind of size bug on Ubuntu
    runs-on: macos-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}

    steps:
      - uses: actions/checkout@v3
      
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Install lein
        run: brew install leiningen

      - name: Install Graphviz
        uses: tlylt/install-graphviz@v1.0.0

      - name: Build Alzabo cljs
        run: lein with-profile +prod,-dev cljsbuild once

      - name: Build CANDEL doc
        run: lein run resources/candel/candelx-config.edn documentation

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: resources/public/schema/candelx
          retention-days: 14

    # Deploy job
  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      
